<!DOCTYPE html>
<html>
  <head>
    <title>Let's Game</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Multiplayer Flappy Bird</h1>
    <canvas id="game-board" width="1400" height="800"></canvas>
    <h2 id="score"></h2>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/app.js"></script>
  </body>
</html>
